*  {
  box-sizing: border-box;
  outline: 0px;
  margin: 0px;
  padding: 0px;
  font-family: serif;
}
nav	 {
	position: sticky;
	top: 0px;
	background-color: #000000;
	background: linear-gradient(180deg, #ffffff15, #000000, #ff590c17);
	padding: 0px;
	margin: 0px;
	z-index: 3;
	border-bottom: 1px solid rgba(8, 8, 8, 0.884);
}
nav ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #000000;
	background: linear-gradient(180deg,#ffffff0a 5%, #000000 70%, #ff590c9c 120%);
}
nav li	{
	float: left;
	border-right: 1px solid rgba(255, 255, 255, 0.733);
	background: #222222;
}
nav li a	{
	display: block;
	color: rgb(255, 255, 255);
	background-position-y: #000000;
	background: linear-gradient(180deg, #ffffff8a, #000000, #ff590c2d);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: serif;
	font-size: 18px;
}
nav li a:hover:not(.active)	{
	background-color: rgba(31, 31, 31, 0.582);
	box-shadow: 5px 5px 25px rgba(255, 115, 0, 0.822) inset;
}
.active {
	background: #000000;
	background: linear-gradient(180deg, #ffffffaf, #ff7301, #66380091);
}
main  {
	background: linear-gradient(180deg, #ffffff, #777777a8, #020202d0);
}
/* Header Container - below nav bar */
.top-container  {
	display: grid;
	grid-template-columns: 300px 1800px;
	gap: 0px;
	overflow: hidden;
	border-bottom: 2px solid rgba(0, 0, 0, 0.87);
	box-shadow: 0px 5px 20px rgb(27, 27, 27);
	background-color: rgb(255, 255, 255);
	position: sticky;
	top: 50px;
	z-index: 2;
}
.logo-banner  {
	padding: 0px;
	margin: 0px;
	box-shadow: 10px 2px 8px rgb(0, 0, 0);
}
/* Company logo */
.logo-banner > img {
    width: 100%;
    height: 200px;
}
.banner-right  {
	margin: 0px;
	padding: 0px;
	background-color: rgba(212, 49, 0, 0.795);
	overflow: auto;
}
/* Guy pushing a dolly */
.banner-right > img  {
	position: relative;
	bottom: 80px;
	left: 700px;
	width: 60px;
	height: 60px;
}
.banner-right > h1  {
	margin: 20px 30px 0px;
	padding: 5px;
	font-size: 50px;
	font-family: Titan One;
	color: rgb(0, 0, 0);
  text-shadow: -1px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
	border-bottom: 2px solid rgb(0, 0, 0);
}
.banner-right > p  {
	margin: -40px 0px 20px;
	padding: 0px 0px 0px 100px;
	font-size:18px;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 76, 175, 0.884);
	border: 2px solid rgba(0, 0, 0, 0.671);
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Second Row - City & Image Area */
.city-banner  {
	margin: 0px;
	padding: 0px;
	position: relative;
}
#center-text  {
	position: absolute;
	top: 70%;
	width: 100%;
	font-size: 18px;
}
#center-text > h1  {
	font-size: 50px;
	color: rgb(255, 255, 255);
	text-decoration: underline;
	margin-left: 250px;
	text-shadow: 5px 4px 3px rgb(27, 27, 27);
}
#center-text > p  {
	font-size: 18px;
	color: rgb(255, 255, 255);
	margin-left: 300px;
	text-shadow: 2px 3px 3px rgb(27, 27, 27);
}
.city-banner > img  {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-bottom: 1px solid rgb(0, 0, 0);
}
/* row two */
.container-two  {
	margin: -10px 150px 0px;
	border: 2px solid black;
}
/* info cards */
#info-cards  {
	margin: 0;
	display: grid;
	grid-template-columns: 700px 900px;
	gap: 10px;
}
/* president */
#president  {
	background-color: #000000;
	color: white;
}
#president > h1  {
	text-align: center;
	margin:30px 0px 10px;
	background-color: #000000;
	color: white;
	font-family: Aguafina Script;
	text-decoration: underline;
}
#president > h2  {
	text-align: center;
	float: left;
	background-color: #000000;
	color: white;
}
#president > h3  {
	text-align: center;
	margin: 0px 50px 30px 0px;
	background-color: #000000;
	color: white;
}
#president > p  {
	position: relative;
	top: 0;
	left: 40px;
	color: white;
	margin: 0px 40px 40px 10px;
}
#president > img  {
	position: relative;
	top: 20px;
	left: 20px;
	height: 260px;
	width: 180px;
	float: left;
	border: 2px solid black;
	border-radius: 80px;
}